body {
    background-color:#f4f4f4;
}


.uno {
    margin-top:5px;
    margin-left:20px;
    margin-right:20px;
}

.container-fluid{
    background-color: black;
}

.menu, .sottomenu {
    padding:0;
}

.menu, .search {
    margin-top:30px;
    margin-bottom:20px;
}
.menu a {
    position:relative;
    display:block;
    color:white;
    cursor:pointer;
  
}
.menu li {
    float:left;
    margin:0 15px;
    list-style: none;
    font-size:25px;
}
.sottomenu {
position:absolute;
left:115px;
top:45px;
visibility:hidden;  /*nascosto*/
/* z-index: 1; */
}
.sottomenu li {
    visibility: hidden;
    display:inline;
}
.menu li:hover .sottomenu li {
    visibility: visible;
    display:inline;
} 

.titolo_film_popolari {
    color:black;
    margin:20px 0 20px 50px;
}

#pannello_film {
max-height:220px;
margin-top: 10px;
    
 
    
}

.thumbnail_listafilms {
    width:100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border:0;
    min-height:248px;
    
   
}

select {
    margin:10px 0;
    width:210px !important;
}

.thumbnail_dettagliofilm {
    width:00px;
}
.sfondo_img {
    background-image:url('https://image.tmdb.org/t/p/w500{{film.backdrop_path}}'); 
    background-repeat: no-repeat;
    background-size: 100%;
}


input.ng-touched.ng-invalid, textarea.ng-touched.ng-invalid {
   border:1px red solid;
}


.chip {
    display: inline-block;
    padding: 0 25px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    border-radius: 25px;
    background-color: #ffc916;
    margin:5px 5px 0 0;
}






html,body{
    
       background-color: #f4f4f4 ;
    }
    .card{
        cursor: pointer;
        background-color: white;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
    .card:hover{
        box-shadow: 3px 6px 8px rgba(0, 0, 0, 0.1);
    }
    
    .mt-30{
        margin-top: 30px;
    }
    .mb-10{
        margin-bottom: 10px;
    }
    .pl-0{
        padding-left: 0px;
    }
    
    .p-40{
        padding: 40px;
    }
    
    .generi {
        padding-left: 1px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-style: italic;
    }
    .grey{
        color:#666666bf;
    }

    .colorata {
        color:red;
    }