body {
    background-color:#f4f4f4;
}
h1{
    color:#01d277;
    margin-top: 0;
}

.uno {
    margin-top:5px;
}

.container-fluid{
    background-color: black;
}

.menu, .sottomenu {
    padding:0;
}

.menu, .search {
    margin-top:20px;
}
.menu a {
    position:relative;
    display:block;
    color:white;
    cursor:pointer;
  
}
.menu li {
    float:left;
    margin:0 15px;
    list-style: none;
    font-size:20px;
}
.sottomenu {
position:absolute;
left:15px;
top:45px;
visibility:hidden;  /*nascosto*/
/* z-index: 1; */
}
.sottomenu li {
    visibility: hidden;
    display:inline;
}
.menu li:hover .sottomenu li {
    visibility: visible;
    display:inline;
} 

.titolo_film_popolari {
    color:black;
    margin:20px 0 20px 50px;
}

#pannello_film {
    display: inline;
    width:150px;
    height:225px;
}

.thumbnail_listafilms {
    width:500px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border:0;
}

select {
    margin:10px 0;
    width:210px !important;
}

.thumbnail_dettagliofilm {
    width:00px;
}
.sfondo_img {
    background-image:url('https://image.tmdb.org/t/p/w500{{film.backdrop_path}}'); 
    background-repeat: no-repeat;
    background-size: 100%;
}