body {
    background-color:#f4f4f4;
}
h1{
    color:#01d277;
    margin-top: 0;
}
.uno {
    margin: 20px 0;
}

.container-fluid{
    background-color: black;
}

#navbar li {
    color:white;
    display:inline;
    font-size:20px;
    margin:0 10px;
} 
#navbar {
    margin:10px;
}

.titolo_film_popolari {
    color:black;
    margin:20px 0 20px 50px;
}

#pannello_film {
    display: inline;
    width:150px;
    height:225px;
}

.thumbnail_listafilms {
    width:500px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border:0;
}

select {
    margin:10px 0;
    width:210px !important;
}

.thumbnail_dettagliofilm {
    width:00px;
}
.sfondo_img {
    background-image:url('https://image.tmdb.org/t/p/w500{{film.backdrop_path}}'); 
    background-repeat: no-repeat;
    background-size: 100%;
}