<div class="row">
  <div class="col-md-8">
    <ul class="menu">
      <li>
        <a>Film</a>
        <ul class="sottomenu">
          <li>
            <a>Film popolari</a>
          </li>
          <li></li>
        </ul>
      </li>
      <li>
        <a>Serie Tv</a>
      </li>
      <li>
        <a ng-click="$parent.inserisci()">Inserisci Film</a>
      </li>
    </ul>
  </div>
  <div class="col-md-4">
    <input ng-model="$parent.SearchText" placeholder="cerca nel sito" class="form-control search">
  </div>
</div>